.bannerContainer {
  height: 28rem;
  background-size: cover;
  background-position: center;
}

.postContainer {
  padding-top: 4rem;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
  }

  & > div {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;

    time,
    span {
      font-size: 0.875rem;
      color: var(--info);
      display: flex;
      align-items: center;
      margin-right: 1.5rem;

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  & > p {
    font-style: italic;
    font-size: 0.875rem;
    color: var(--info);
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
}

.postContent {
  h2 {
    margin-top: 4.125rem;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 4.125rem;
  }

  p {
    color: var(--info);
    line-height: 1.2rem;
    margin-bottom: 1rem;
  }
}

.postsNavigation {
  border-top: 1px solid var(--body);
  margin-top: 3.75rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    text-align: left;
    line-height: 1.4rem;
    max-width: 40%;

    display: block;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }

    &:nth-child(2) {
      text-align: right;
    }

    p {
      font-size: 1.125rem;
    }

    span {
      color: var(--highlight);
      font-weight: 600;
    }
  }
}

.postLoading {
  h5 {
    font-size: 2rem;
  }
}

.exitPreview {
  margin-top: 5.5rem;
  margin-bottom: 2rem;
  height: 3.625rem;
  width: 100%;
  background-color: var(--heading);
  border-radius: 4px;
  transition: all 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  a {
    text-align: center;
    color: var(--background);
    font-weight: 600;
    font-size: 1.125rem;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
